.popup__button-exit {
    width: 100%;
    position: absolute;
    border: none;
    font-weight: 400;
    background-image: url(../../../image/close_icon.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    right : -40px;
    top: -40px;
    font-size: 0;
    box-shadow: none;
    color: white;
    cursor: pointer;
    max-width: 32px;
    min-height: 32px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease;
  }


  .popup__button-exit:hover {
    opacity: 0.6;
  }

  @media (max-width: 535px) {
    .popup__button-exit {
      top: -35px;
      right: 0;
      background-size: 20px;

    }
  }
