.element {
    width: 282px;
    height: 362px;
    background: #FFFFFF;
    border-radius: 10px;
    background-image: url(../../image/kchr.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 282px 282px;
    /* background-color: transparent; */
}